.register-wizard {
  height: 100vh;
  flex-direction: column;

  .logo-wrapper {
    text-align: center;
    width: 100%;
    margin: calc(var(--px) * 20) 0 calc(var(--px) * 10) 0;

    .logo {
      height: calc(var(--px) * 60);
      width: calc(var(--px) * 140);
    }
  }
  .content {
    flex: 1;
    & > div {
      height: 100%;
      & > div {
        height: 100%;
        & > div {
          height: 100%;
          & > * {
            height: 100%;
            & > div {
              height: 100%;
            }
          }
        }
      }
    }
  }

  .help-text {
    margin: 0;
  }

  .form {
    padding: 0 calc(var(--px) * 20);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .starter-pics {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      .avatar-picker {
        background: black;
        border: calc(var(--px) * 7) solid var(--grey);
        padding: 0;
        outline: 0;
        width: 33vw;
        height: 33vw;
        transition: all 0.3s ease-in-out;

        &.active {
          border-color: var(--gold);
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .terms {
      font-family: 'EnchantedLand', cursive;
      text-align: left;
      svg {
        font-size: calc(var(--px) * 50);
      }
    }
    .center {
      flex: 1;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .bot {
      flex: 1;
      display: flex;
      flex-direction: column;

      &.split {
        flex-direction: row;
        justify-content: space-between;
        .form-button {
          width: calc(50% - var(--px) * 5);
        }
      }
    }
    .half-bot {
      flex: 0.6;
      display: flex;
      flex-direction: column;
    }

    .form-button {
      width: 100%;
      height: calc(var(--px) * 60);
      margin-bottom: 20%;
      margin-top: auto;

      span {
        font-family: 'EnchantedLand', cursive;
        color: white;
        font-weight: bold;
        font-size: calc(var(--px) * 22);
      }
    }
  }

  .shadow {
    border: none;
    height: 20px;
    width: 100%;
    height: 50px;
    border-bottom: 0px;
    box-shadow: 0 20px 23px -23px #777;
    margin: -50px auto 10px;
  }

  .stepper-wrapper {
    box-sizing: border-box;
  }
  .admin-wrapper {
    width: 100%;
  }

  .header-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: var(--headerOffset);
  }
}

@media (max-height: 667px) {
  .bot {
    flex: none;
  }
}

.header-router {
}
