#Games {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding-bottom: 5vh;

  .game-summary {
    text-align: center;
    height: calc(var(--px) * 80);
    width: calc(100% - 20px);
    background-color: var(--bg1);
    margin: 10px auto 0;
    border: 2px solid #2d2a23;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 5px;
    a {
      display: flex;
      height: 100%;
      color: black;
    }

    .header,
    .footer {
      padding: 0 4px;
      font-size: 14px;
      font-weight: bold;
      width: 100%;
      text-align: center;
    }

    .header {
      font-family: 'Old-London';
      font-size: 16px;
      a {
        display: inline;
      }
    }
    .footer {
      line-height: 0.8em;
    }

    .inner-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      flex: 1;

      .players {
        display: flex;
        flex-direction: row;
      }

      .player-name {
        font-weight: bold;
        width: 30vw;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .flag-icon {
      height: 100%;
      width: 6vh;

      &.left {
        margin-left: auto;
        margin-right: 0;
      }

      &.right {
        margin-left: 0;
        margin-right: auto;
      }
    }
  }
}
