#Tournaments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .tournament-summary {
    text-align: center;
    width: calc(100% - 20px);
    background-color: var(--bg1);
    margin: 10px auto 0;
    border: 2px solid var(--wood);
    height: calc(var(--px) * 100);
    box-sizing: border-box;
    display: flex;

    .icon {
      width: calc(var(--px) * 100 - 4px);
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50%;
    }

    .content {
      padding: 5px;
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .title {
        margin-top: 5px;
        font-family: Old-London;
        font-size: 22px;

        color: var(--dark-text);
        width: 100%;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;
      display: flex;
      justify-content: space-between;

      li {
        display: inline-block;
        width: 30%;

        a {
          cursor: pointer;
          padding: 5px;
        }
      }
    }
  }
}
