#Leaderboard {
  .table {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: calc(100% - 50px);
    margin: 30px auto 0 auto;
    .row {
      display: flex;
      margin: 15px 0;
      padding-left: 30px;
      > div {
        flex: 1;
      }
    }
  }
}
