#Leaderboard {
  .table {
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    margin: 30px auto 0 auto;
    .row {
      display: flex;
      height: 3em;
      align-items: center;

      &:nth-child(even) {
        background-color: var(--bg1);
      }

      .number {
        width: 3em;
      }
      .name {
        flex: 1;
      }

      .gold {
        width: 5em;
      }
    }
  }
}
