#Navbar {
  .main-tabs {
    button {
      .MuiTab-wrapper {
        color: white;
        font-family: MedievalSharp;
        font-weight: bold;
      }

      &.Mui-selected{
        .MuiTab-wrapper {
          color: var(--gold);
        }
      }
    }
  }
}
