@import url('https://fonts.googleapis.com/css?family=MedievalSharp&display=swap');
@import './assets/fonts/old-london/stylesheet.css';

:root {
  --bg1: #D6C499cc;
  --dark-text: #19100B;
  --wood: #563726;
  --gold: #f0a429;
  --red: #c62828;
  --blue: #1565c0;
  --green: #2e7d32;
}

html {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'MedievalSharp', cursive;
  font-size: 18px;
  color: var(--dark-text);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-attachment: fixed;

  background-image: url('/assets/img/tc.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100%;
}

a {
  font-weight: bold;
  color: var(--green);
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-family: 'Old-London', 'MedievalSharp', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.wooden-bg {
  background: #2d2a23 url('./assets/wood.jpg') repeat top;
}

.paper {
  text-align: center;
  background-color: var(--bg1);
  margin: 10px auto 0;
  border: 2px solid var(--wood);
  box-sizing: border-box;
  display: flex;
}